body{
    background-image: linear-gradient(to right, rgb(161 186 187), rgb(163 231 146));
    height: 100vh;
}

#title{
    text-align: center;
}

#changeSizeContainer{
    display: flex;
    justify-content: center;
    gap: 4em;
}

#btnContainer{
    display: flex;
    justify-content: center;
}

#btnChangeSize{
    margin: 2em;
    height: 2em;
    width: 15em;
    border-radius: 12px;
}

.txt{
    display: inline;
}

#container, #anotherContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#anotherContainer{
    width: 100vh;
    height: 100vh;
    flex-direction: column;
}

#canvas{
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.pixelContainer{
    display: flex;
}

.pixel{
    display: flex;
    background-color: white;
    opacity: 0.6;
}

.pixel:hover{
    opacity: 1.0;
}